<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>Lotus Calculator</title>
		<link rel="canonical" href="https://wansoul.github.io/LotusCalculator/">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">

		
		<link rel="manifest" href="manifest.json">
		<link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
		<link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#D90845">

		<!-- Add to home screen for Safari on iOS -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
		<meta name="apple-mobile-web-app-status-bar-style" content="#D90845">
		<meta name="apple-mobile-web-app-title" content="LotusCalculator">
		<meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
		<meta name="msapplication-TileColor" content="#ffffff">
	</head>
	
	<body ng-app="calculatorApp">
		
		<div class="main-container">
			<div class="bg-image"></div>
			<div class="calculator-container" ng-controller="calculatorCtrl">
				<div class="display-container">
				  <h1 ng-class="{ 'hide-result' : hideResult, 'medium-size' : result>9999999, 'small-size' : result>999999999, 'smallest-size': result>9999999999999, 'infinity-size': result==1/0 }" >{{ result | number }}</h1>
				  <h2 ng-class="{error : errorCounter>1, centered : firstTime, 'tracking-in-expand': firstTime}">{{ expression }}</h2>
				</div>

				<div class="keys-container noselect">
					<div class="back-rectangle scale-up-center3"></div>
					<div class="number-leaves-container scale-up-center1">
					    <div class="leaf-corner leaf-1" ng-click="handleClick('1')"><h3>1</h3></div>
					    <div class="leaf leaf-2" ng-click="handleClick('2')"><h3>2</h3></div>
					    <div class="leaf-corner leaf-3" ng-click="handleClick('3')"><h3>3</h3></div>
					    <div class="leaf leaf-4" ng-click="handleClick('4')"><h3>4</h3></div>
					    <div class="leaf leaf-6" ng-click="handleClick('6')"><h3>6</h3></div>
					    <div class="leaf-corner leaf-7" ng-click="handleClick('7')"><h3>7</h3></div>
					    <div class="leaf leaf-8" ng-click="handleClick('8')"><h3>8</h3></div>
					    <div class="leaf-corner leaf-9" ng-click="handleClick('9')"><h3>9</h3></div>
					    <div class="leaf leaf-5" ng-click="handleClick('5')"><h3>5</h3></div>
					    
					    <div class="operations-leaves-container1 scale-up-center2">
					      <div class="leaf-corner leaf-1" ng-click="handleClick('-')"><h3 class="minus">–</h3></div>
					      <div class="leaf-corner leaf-3" ng-click="handleClick('.')"><h3 class="period">.</h3></div>
					      <div class="leaf-corner leaf-7" ng-click="clear(true)"><h3 class="ac">AC</h3></div>
					      <div class="leaf-corner leaf-9" ng-click="handleClick('*')"><h3 class="multiply">x</h3></div>
					      
					      <div class="operations-leaves-container2">
					        <div class="leaf-corner leaf-1" ng-click="handleClick('0')"><h3 class="zero">0</h3></div>
					        <div class="leaf-corner leaf-3" ng-click="handleClick('+')"><h3 class="plus">+</h3></div>
					        <div class="leaf-corner leaf-7" ng-click="handleClick('/')"><h3 class="divide">÷</h3></div>
					        <div class="leaf-corner leaf-9" ng-click="clear(false)"><h3 class="percent">C</h3></div>
					      </div>
					    </div>
					</div>
				</div>
			</div>
		</div>

		<div class="show-info-button" title="View Information" ng-init="showInfo=false" ng-hide="showInfo" ng-click="showInfo = !showInfo">Info</div>

	    <div class="info-container" ng-class="{'shown-item': showInfo}">
			<div class="info-panel">
				<img src="favicons/android-chrome-192x192.png" class="icon" />
				<h1>Lotus Calculator</h1>
				<h2>Calculator inspired by Lotus Flower</h2>
				<p>I made the concept of this calculator as part of the DailyUI Design Challenge. I liked it so much and decided to code and make it work as a web app.</p>
				<p>Check the project on my <a href="https://github.com/wansoul/LotusCalculator" title="See the source code on Github" target="-blank">Github</a>.</p>
				<hr/>
				<div class="contact-info-container">
					<img src="assets/avatar.jpg" class="avatar" />
					<h3>Wan Souza</h3>
					<h4>UX/UI Designer</h4>
					<div class="social-icons">
						<a href="https://www.behance.net/wansouza" title="Behance" class="behance" target="_blank">Behance</a>
						<a href="https://www.linkedin.com/in/wansouza" title="LinkedIn" class="linkedin" target="_blank">LinkedIn</a>
						<a href="https://github.com/wansoul" title="Github" class="github" target="_blank">Github</a>
						<a href="https://twitter.com/wansoul" title="Twitter" class="twitter" target="_blank">Twitter</a>
					</div>
				</div>
				<div class="close-button" title="Close this panel" ng-click="showInfo = !showInfo" >Close</div>
			</div>
	    </div>

		<script src="js/angular.min.js"></script>
		<script src="js/app.js"></script>

		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-96596472-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</body>
</html>